[Unit]
Description=NPR Liveblog
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=ubuntu
Environment=NODE_VERSION=12
WorkingDirectory=~/apps/liveblog-standalone
ExecStart=/home/ubuntu/.nvm/nvm-exec grunt local

[Install]
WantedBy=multi-user.target