[Unit]
Description=NPR Liveblog
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=vagrant
Environment=NODE_VERSION=12
WorkingDirectory=/home/vagrant/host/npr/liveblog-standalone
ExecStart=/home/vagrant/.nvm/nvm-exec grunt local

[Install]
WantedBy=multi-user.target