.audio-player {
  @audioButtonWidth: 35px;
  // @blue: desaturate(@link-blue, 10%);
  @blue: #2C63ae;
  @dark-blue: darken(@blue, 10%);

  background: @blue;
  border-radius: 8px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: white;
  .gotham();
  font-size: 24px;
  height: 65px;
  padding: 0 15px;
  -webkit-font-smoothing: antialiased;

  &.hidden {
    display: none;
  }

  .play-stream {
    background: white;
    border-radius: 100%;
    width: @audioButtonWidth;
    height: @audioButtonWidth;
    color: @blue;
    border: 2px solid @blue;
    position: relative;
    padding: 2px;
    cursor: pointer;
    margin-right: 12px;
    flex: 0 0 @audioButtonWidth;

    &:hover, &:focus {
      border: 3px solid #fff;
      outline: none;
      // box-shadow: 0 2px 8px fade(black, 30%);
      // color: @dark-blue;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .pause-icon {
      display: none;
    }

    .seek-icon {
      display: none;
    }

    &[aria-pressed="true"] {
      .pause-icon { display: block; }
      .play-icon { display: none; }
    }

    &.seeking {
      .pause-icon, .play-icon { display: none; }
      .seek-icon { display: block; }
    }
  }

  .text {
    font-size: 18px;
    font-weight: 700;

    @media @mobile {
      font-size: 16px;
    }
  }

  &.no-audio {
    background: #e0e0e0;
    color: #333;
    font-weight: bold;

    .play-stream {
      background: white;
      pointer-events: none;
      border-color: white;
      color: #e0e0e0;
    }

    .text { font-size: 14px; }
  }
}

#jwplayer { display: none !important; }
