footer {
  margin: auto;
  max-width: @max-width;
  padding: 20px 15px;
  background: transparent;
  color: #999;

  p {
    font-family: @sans;
    margin: 0;
    font-style: italic;
    font-size: 11px;
  }
}
