main.liveblog {
  margin: auto;
  max-width: @max-width;
  padding-bottom: 20px;
}

.show-new {
  background: #f24e40;
  color: white;
  .gotham();
  padding: 16px;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  border: none;
  cursor: pointer;

  .standalone & {
    top: 10%;
    left: 0;
    // right: 0;
    position: fixed;
    // bottom: 15px;
    transform: translateX(0);
    width: auto;
    z-index: 9999;
    margin: 0;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    transition: transform 1s ease;

    &.hidden {
      transform: translateX(-110%);
      transition: none;
    }
  }

  .embed & {
    &.hidden {
      display: none;
    }
  }



  &[data-count="1"] {
    .plural { display: none; }
  }
}

@keyframes fade-on-copy {
  from { opacity: 1; }
  to { opacity: 0; }
}

article.post {
  display: flex;
  margin: var(--side-margin);
  font-family: @serif;
  font-size: 16px;

  + article.post {
    border-top: 1px solid #ddd;
    padding-top: var(--side-margin);
  }

  @media @mobile {
    display: block;
  }

  iframe > .video.audio {
    margin-bottom: 0;
  }

  &.featured {
    .gotham();
    display: block;
    background: #EEE;
    border-top: none;
    overflow: hidden;
    font-size: 14px;

    .contents {
      padding: var(--side-margin);
    }

    h2 {
      font-size: 16px;
      background: #333;
      padding: 12px 20px 10px 20px;
      color: white;
      margin-bottom: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      + iframe {
        margin-top: 20px;
      }
    }

    li {
      margin: 0 0 0 1.3em;
      padding: 0;

      + li {
        margin-top: .5em;
      }

    }

    image-embed,
    facebook-video,
    npr-video,
    youtube-video {
      @media @mobile-above {
        // float: right;
        // width: 50%;
        margin-left: var(--side-margin);
        // margin-bottom: calc(var(--side-margin) / 2);
        margin-bottom: 20px;
      }
    }
  }

  &.draft {
    background: #FFC;
  }

  &.hidden {
    .sr-only();
  }

  show-more { display: none; }

  &.collapsed {
    show-more {
      display: block;
    }

    show-more ~ * {
      display: none !important;
    }
  }

  .metadata {
    flex: 0 0 150px;
    color: #f03828;
    .gotham();
    font-size: 13px;
    padding-right: 16px;

    .datetime {
      padding-bottom: 8px;
    }

    @media @mobile {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;

      .datetime {
        padding-bottom: 0;
      }

      .date, .time {
        display: inline;
      }

      .time:after {
        content: "•";
        margin: 0 4px;
      }
    }

    .time {
      font-weight: bold;
    }

    .permalink {
      display: block;
      position: relative;
      color: #888;
      text-decoration: none;

      .embed & {
        display: none;
      }

      @media @mobile {
        margin-top: 0;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }

      &:after {
        content: "+";
        display: inline-block;
        margin-left: 4px;
        color: white;
        background: #888;
        padding: 0px 2px;
        border-radius: 2px;
        // font-size: 80%;
        // font-weight: bold;
        vertical-align: middle;
        line-height: 1;
      }

      .copy-message {
        display: none;
        position: absolute;
        top: calc(~"100% + 4px");
        background: #333;
        color: white;
        padding: 8px;
        border-radius: 4px;
        animation: fade-on-copy 2s ease 1s both;
        pointer-events: none;
      }

      &.copied .copy-message.success {
        display: block;
      }

      &.error .copy-message.error {
        background: #533;
        display: block;
      }
    }

    .tags {
      padding-top: 16px;
      flex: 0 0 100%;

      .tag-marker {
        background: #555;
        color: white;
        display: inline-block;
        padding: 2px 4px;
        text-transform: uppercase;
        border-radius: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .contents {
    flex: 1;
    padding: 0 var(--side-margin);
    padding-top: 0;

    @media @mobile {
      padding: 0;
    }
  }

  .pillbox {
    .pill {
      margin-right: 4px;
      border-radius: 7px;
      color: white;
      .gotham();
      font-size: 11px;
      font-weight: bold;
      padding: 5px 7px;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 10px;
      -webkit-font-smoothing: antialiased;
    }

    .fact-check {
      background: @true;
    }

    .major {
      background: @rigorous;
    }
  }

  h2 {
    margin: 0 0 16px;
    .gotham();
    font-weight: bold;

    @media @mobile {
      .widont { display: inline-block; }
    }
  }

  .author {
    .gotham();
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }
  }

  .back-to-top {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #888;
    .gotham();
    font-size: 13px;
  }
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 0;
  padding: 0.5em 15px;
  quotes: "\201C""\201D""\2018""\2019";

  b {
    font-weight: normal;
    border-bottom: 4px solid #efc637;
    line-height: 1.9rem;
    padding-bottom: 3px;
  }
}