.notification-options {
  .gotham();
  margin: auto;
  padding: 15px var(--side-margin);
  font-size: 12px;
  line-height: 1.6;
  color: #666;
  display: none;
  text-align: right;

  .supports-notifications & {
    display: block;
  }

  input {
    .sr-only()
  }

  input + label {
    padding: 3px 8px;
    white-space: nowrap;
    display: inline-block;
    color: @true;
    font-weight: bold;

    &:before {
      content: "✘";
      @box: 16px;
      width: @box;
      height: @box;
      line-height: @box;
      text-align: center;
      display: inline-block;
      border: 1px solid @true;
      margin-left: 4px;
      font-weight: normal;
      font-size: 150%;
      color: @true;
    }
  }

  input:checked + label {
    &:before {
      content: "✔";
    }
  }
}
