.notification-options {
  max-width: 600px;
  margin: auto;
  padding: 8px;
  display: none;

  .supports-notifications & {
    display: block;
  }

  input {
    .sr-only()
  }

  input + label {
    background: #333;
    color: white;
    padding: 4px;
    border-radius: 4px;

    &:after {
      content: "✘";
      display: inline-block;
      margin-left: 4px;
    }
  }

  input:checked + label {
    background: @true;
    
    &:after {
      content: "✔";
    }
  }
}