<%
var { typogrify } = require("typogr");
var moment = require("moment-timezone");
var timezone = "America/New_York";
%>
<main class="liveblog">
  <h1><%= config.headline %></h1>
<%
var lookup = {};
var posts = doc.posts.filter(function(post, index) {
  lookup[post.slug] = post;
  post.index = index;
  // only do this one time through the template
  if (typeof post.published == "string") {
    post.published = post.published.trim() == "false" ? false : moment(post.published).tz(timezone);
  }
  return flags.unpublished || post.published;
});
posts.sort(function(a, b) {
  if (!a.published && !b.published) {
    // put unpublished at the top in order
    return a.index - b.index;
  }
  return (b.published || Infinity) - (a.published || Infinity);
});
var featured = lookup[config.featured];
posts = posts.filter(p => p != featured);
if (featured) {
%>
<article class="featured post" id="featured">
  <h2><%= typogrify(featured.headline) %></h2>
  <div class="contents">
    <%= t.renderMarkdown(featured.text) %>
  </div>
</article>
<%
}
%>
<button class="show-new hidden">Show <span class="count">0</span> new posts</button>
<%
posts.forEach(function(post) {
%>
<article class="post <%= post.published ? "published" : "draft" %>" id="<%= post.slug %>">
  <div class="metadata">
    <div class="time">
      <%= post.published
        ? post.published.format("h:mm a z")
        : "unpublished" %>
    </div>
    <div class="date">
      <%= post.published
        ? post.published.format("MMM. D, YYYY")
        : "" %>
    </div>
  </div>
  <div class="contents">
    <h2><%= typogrify(post.headline) %></h2>
    <%= t.renderMarkdown(`
${post.text}

<span class="author">&mdash; ${post.author}</span>`) %>
  <a class="back-to-top" href="#featured">&uarr; Back to top</a>
  </div>
</article>
<%
});
%>
</main>