<div class="metadata" hidden>
  <h1><%= doc.config.headline %></h1>
  <h2><%= doc.config.subhead %></h2>
  <template class="injection-source"><%= doc.config.headerHTML %></template>
  <template class="embed-injection-source"><%= doc.config.embedHeaderHTML %></template>
  <% if (doc.config.audioText) { %>
  <audio class="stream-source" preload="none" hidden src="<%= doc.config.audio %>">
  <%= doc.config.audioText %>
  </audio>
  <% } %>
</div>

<%
var { typogrify } = require("typogr");
var moment = require("moment-timezone");
moment.fn.zoneName = function() {
  var z = this.zoneAbbr();
  return z.replace(/[SD]/, "");
}
var timezone = "America/New_York";

// Filter and create post lookup
var lookup = {};
var posts = doc.posts.filter(function(post, index) {
  lookup[post.slug] = post;
  return flags.unpublished || post.published && post.published.isBefore();
});
posts.sort(function(a, b) {
  if (!a.published && !b.published) {
    // put unpublished at the top in order
    return a.index - b.index;
  }
  return (b.published || Infinity) - (a.published || Infinity);
});

%>

<main class="liveblog">

<%
var featured = lookup[config.featured];
posts = posts.filter(p => p != featured);
if (featured) {
%>

<article class="featured post" id="featured">
  <h2><%= typogrify(featured.headline) %></h2>
  <div class="contents">
    <%= t.renderMarkdown(featured.text) %>
  </div>
</article>

<%
}
%>

<div class="notification-options">
  <div class="contain">
    <input type="checkbox" id="enable-notifications">
    <label for="enable-notifications">
      Notify me about new posts
    </label>
  </div>
</div>

<button class="show-new hidden">Show <span class="count">0</span> new post<span class="plural">s</span></button>

<%
posts.forEach(function(post, i) {
%>

<article
  class="post <%= post.published && post.published.isBefore() ? "published" : "draft" %> <%= post.tags.join(" ") %>"
  id="<%= post.slug %>"
>
  <div class="metadata">
    <div class="datetime">
      <div class="time">
        <%= post.timeString || "unpublished" %>
      </div>
      <div class="date">
        <%= post.dateString || "" %>
      </div>
    </div>
    <a
      href="#<%= post.slug %>"
      class="permalink"
      data-copy="<%= grunt.data.json.project.url + "share/" + post.slug +".html" %>">
        Copy link
        <div class="copy-message" aria-hidden>Copied!</div>
    </a>

    <div class="tags">
      <% post.tags.forEach(function(t) { %>
      <div class="tag-marker" data-tag="<%= t %>"><%= t %></div>
      <% }) %>
    </div>
  </div>
  <div class="contents">

    <div class="pillbox">
      <% if (post.factcheck) { %>
      <span class="fact-check pill">Fact check</span>
      <% } %>

      <% if (post.major) { %>
      <span class="major pill">Major development</span>
      <% } %>
    </div>

    <h2><%= typogrify(post.headline) %></h2>
    
    <%= t.renderMarkdown(post.text) %>

    <% if (post.page) { %>
    <div class="author">
      &mdash; <a href="<%= post.page %>"><%= post.author %></a>
    </div>
    <% } else { %>
    <div class="author">&mdash; <%= post.author %></div>
    <% } %>

  <a class="back-to-top" href="#top">&uarr; Back to top</a>
  </div>
</article>

<% if (i == 0 && flags.showAd) { %>
<div class="ad-block" aria-hidden="true">
  <google-ad></google-ad>
</div>
<% } %>

<%
});
%>
</main>