<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
header {
  padding: 40px;
  text-align: center;
  font-weight: bold;
}

side-chain {
  max-width: 500px;
  margin: auto;
  border: 2px dashed blue;
}
    </style>
    <title>Liveblog embed preview</title>
  </head>
  <body>

    <header>
      HELLO THIS IS A PREVIEW OF THE EMBED
    </header>

    <textarea style="width: 100%;">&lt;p data-sidechain-src="<%= json.project.url %>embed.html"&gt;&lt;/p&gt;
&lt;script src="<%= json.project.url %>loader.js" async defer&gt;&lt;/script&gt;</textarea>

    <p data-sidechain-src="./embed.html">Loading...</p>

    <script src="loader.js" async></script>
  </body>
</html>
