<%

  var liveblog = `
<p data-pym-liveblog-loader
  data-child-src="${json.project.url}embed.html"
  id="${json.project.url.split("/").filter(d => d).pop()}">
    Loading...
</p>
<script src="https://pym.nprapps.org/npr-pym-liveblog-loader.v2.min.js"></script>
`

%><!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
header {
  padding: 40px;
  text-align: center;
  font-weight: bold;
}

[data-pym-liveblog-loader] {
  max-width: 500px;
  margin: auto;
  border: 2px dashed blue;
}
    </style>
    <title>Liveblog embed preview</title>
  </head>
  <body>

    <textarea style="width: 100%" rows=3>&lt;p data-pym-loader data-child-src="https://apps.npr.org/election20-primaries/embeds/results-march-10.html?link=https://apps.npr.org/liveblogs/20200310-primaries/" id="responsive-embed-march-10-results"> Loading... &lt;/p> &lt;script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js">&lt;/script></textarea>


<p
  data-pym-loader
  data-child-src="https://apps.npr.org/election20-primaries/embeds/results-march-10.html?link=https://apps.npr.org/liveblogs/20200310-primaries/"
  id="responsive-embed-march-10-results">
    Loading...
</p>
<script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>

    <textarea style="width: 100%;" rows=3><%= liveblog.replace(/</g, "&lt;").replace(/\s+|\n/g, " ").trim() %></textarea>

    <%= liveblog %>

    <!--<p data-sidechain-src="embed.html"></p>

    <script src="loader.js" async defer></script>-->
  </body>
</html>
