<!doctype html>
<%
  var doc = grunt.data.archieml.liveblog;
  var config = doc.config;
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { project: Object.assign(grunt.data.json.project, {
      title: config.socialHeadline,
      description: config.socialDescription,
      socialImage: config.socialImage
    })}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class="standalone">

    <nav>
      <ul class="primary">
        <li class="npr"><a href="https://npr.org"><img src="assets/logo.svg" alt="NPR" /></a></li>
        <li class="election"><a href="https://www.npr.org/sections/elections/"><img src="assets/logo-2020-election.svg" alt="2020 Election" /></a></li>
        <li><a href="https://www.npr.org/sections/elections/">News</a></li>
        <li><a href="https://www.npr.org/series/758097234/election-2020-issue-tracker">Issues</a></li>
        <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">Podcast</a></li>
        <li><a href="https://www.npr.org/newsletter/politics">Newsletter</a></li>
      </ul>

      <ul class="secondary">
        <li class="donate"><a href="https://www.npr.org/donations/support">Donate</a></li>
      </ul>
    </nav>

    <header>
      <div class="contain">
        <h1><%= t.smarty(config.headline) %></h1>

        <%= t.include("_audioplayer.html", { config }) %>

        <h2>Live results - Updated Feb. 3, 2020 at 9:45PM EST</h2>
        <ul class="results-placeholder">
          <% "Biden Warren Sanders Buttigieg Klobuchar Other".split(" ").forEach(function(candidate) { %>
          <li>
            <span><%= candidate %></span>
            <span>XX%</span>
          <% }) %>
        </ul>
      </div>
    </header>

    <div class="notification-options">
      <div class="contain">
        We can notify you when new posts come in while this tab is open.
        <input type="checkbox" id="enable-notifications">
        <label for="enable-notifications">Enable notifications:</label>
      </div>
    </div>

    <%= t.include("_liveblog.html", { doc, config, flags: {} }) %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
