<!doctype html>
<%
  var doc = grunt.data.archieml.liveblog;
  var config = doc.config;
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { project: Object.assign(grunt.data.json.project, {
      title: config.socialHeadline,
      description: config.socialDescription,
      socialImage: config.socialImage
    })}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <header>
      <!-- NPR-specific liveblog stuff goes here -->
      <div class="notification-options">
        We can notify you when new posts come in while this tab is open.
        <input type="checkbox" id="enable-notifications">
        <label for="enable-notifications">Enable notifications:</label>
      </div>
    </header>

    <%= t.include("_liveblog.html", { doc, config, flags: {} }) %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
