<!doctype html>
<%
  var doc = grunt.data.archieml.liveblog;
  var config = doc.config;
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { project: Object.assign(grunt.data.json.project, {
      title: config.socialHeadline,
      description: config.socialDescription,
      socialImage: config.socialImage,
      published: doc.posts.map(p => p.published).sort().shift(),
      event: config.event,
      posts: doc.posts.filter(p => p.published)
    })}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="alternate" type="application/rss+xml" title="<%= config.socialHeadline %>" href="feed.rss">
  </head>
  <body class="standalone">

    <%= config.disableResultsNav ? t.include("partials/_oldNav.html") : t.include("partials/_navbar.html") %>

    <header id="top">
      <div class="wrapper">
        <div class="contain">
          <h1><%= t.smarty(config.headline) %></h1>
          <h2><%= t.smarty(config.subhead || "") %></h2>

          <%= t.include("_audioplayer.html", { config }) %>

        </div>
        <div class="html-injection"><%= config.headerHTML %></div>
      </div>
    </header>

    <%= t.include("_liveblog.html", { doc, config, flags: { showAd: true } }) %>

    <% if (doc.config.footerCredits) { %>
    <footer>
      <p>Candidate photos: <%= t.smarty(doc.config.footerCredits) %></p>
    </footer>
    <% } %>

    <%= t.include("_electionFooter.html") %>
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
