<!doctype html>
<%
  var doc = grunt.data.archieml.liveblog;
  var config = doc.config;
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { project: Object.assign(grunt.data.json.project, {
      title: config.socialHeadline,
      description: config.socialDescription,
      socialImage: config.socialImage
    })}) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class="standalone">

    <nav>
      <ul class="primary">
        <li class="npr"><a href="https://npr.org"><img src="assets/logo.svg" alt="NPR" /></a></li>
        <li class="election"><a href="https://www.npr.org/sections/elections/"><img src="assets/logo-2020-election.svg" alt="2020 Election" /></a></li>
        <li><a href="https://www.npr.org/sections/elections/">News</a></li>
        <li><a href="https://www.npr.org/series/758097234/election-2020-issue-tracker">Issues</a></li>
        <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">Podcast</a></li>
        <li><a href="https://www.npr.org/newsletter/politics">Newsletter</a></li>
      </ul>

      <ul class="secondary">
        <li class="donate"><a href="https://www.npr.org/donations/support">Donate</a></li>
      </ul>
    </nav>

    <header id="top">
      <div class="contain">
        <h1><%= t.smarty(config.headline) %></h1>
        <h2><%= t.smarty(config.subhead) %></h2>

        <%= t.include("_audioplayer.html", { config }) %>


        <div class="html-embed"><%= config.headerHTML %></div>
      </div>
    </header>

    <%= t.include("_liveblog.html", { doc, config, flags: { unpublished: true } }) %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
